<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% include 'react/css.html' %}
    <style>
        .bg-tweetme {
            background-color: #500243 !important;
        }
    </style>
    <title>TweetMe</title>
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>

    {% include "components/navbar.html" %}

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    {% include 'react/base_embed.html' %}
    {% include 'react/js.html' %}

</body>

</html>